In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
# read data 
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

### Data preprocessing

In [3]:
# drop irrelevant columns
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [ ]:
# Add one-hot encoded columns to input data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

### Data preparation

In [7]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [8]:
## Train-test split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [9]:
## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
# Save the encoders and scaler for deployment
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

### ANN regression model training

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\sanja\Desktop\Data_science\6_DeepLearning\churn-prediction-app-ANN\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [12]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\sanja\Desktop\Data_science\6_DeepLearning\churn-prediction-app-ANN\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\sanja\Desktop\Data_science\6_DeepLearning\churn-prediction-app-ANN\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

# Set up early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [15]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\sanja\Desktop\Data_science\6_DeepLearning\churn-prediction-app-ANN\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\sanja\Desktop\Data_science\6_DeepLearning\churn-prediction-app-ANN\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 5s 9ms/step - loss: 100384.4922 - mae: 100384.4922 - val_loss: 98547.6953 - val_mae: 98547.6953
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 99764.6484 - mae: 99764.6484 - val_loss: 97313.7500 - val_mae: 97313.7500
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 97614.5312 - mae: 97614.5312 - val_loss: 94174.9297 - val_mae: 94174.9297
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 93344.5547 - mae: 93344.5547 - val_loss: 88846.7500 - val_mae: 88846.7500
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 86941.1406 - mae: 86941.1406 - val_loss: 81716.6250 - val_mae: 81716.6250
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 79075.8828 - mae: 79075.8828 - val_loss: 73790.1484 - val_mae: 73790.1484
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 70921.1406 - mae: 70921.1406 - val_loss: 66265.9922 - val_mae: 66265.9922
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 63508.3047 - mae: 63508.3047 - val_loss: 60015.4297 - val_mae: 60015.4297
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 57767.8281 - mae: 57767.8281 - val_loss: 55574.8164 - val_mae: 55574.8164
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 53963.2930 - mae: 53963.2930 - val_loss: 52877.8633 - val_mae: 52877.8633
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 51878.7734 - mae: 51878.7734 - val_loss: 51632.1250 - val_mae: 51632.1250
Epoch 12/100
250/250 [==============================] - 2s 6ms/step - loss: 50881.4961 - mae: 50881.4961 - val_loss: 51159.6602 - val_mae: 51159.6602
Epoch 13/100
250/250 [==============================] - 1s 6ms/step - loss: 50470.1445 - mae: 50470.1445 - val_loss: 50970.8242 - val_mae: 50970.8242
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 50300.4492 - mae: 50300.4492 - val_loss: 50873.8906 - val_mae: 50873.8906
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 50206.1250 - mae: 50206.1250 - val_loss: 50805.7031 - val_mae: 50805.7031
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 50138.8945 - mae: 50138.8945 - val_loss: 50749.9766 - val_mae: 50749.9766
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 50084.1133 - mae: 50084.1133 - val_loss: 50704.8828 - val_mae: 50704.8828
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 50037.4219 - mae: 50037.4219 - val_loss: 50658.0977 - val_mae: 50658.0977
Epoch 19/100
250/250 [==============================] - 1s 5ms/step - loss: 49997.3320 - mae: 49997.3320 - val_loss: 50625.0273 - val_mae: 50625.0273
Epoch 20/100
250/250 [==============================] - 1s 5ms/step - loss: 49962.6836 - mae: 49962.6836 - val_loss: 50589.0430 - val_mae: 50589.0430
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 49933.1914 - mae: 49933.1914 - val_loss: 50557.1641 - val_mae: 50557.1641
Epoch 22/100
250/250 [==============================] - 1s 6ms/step - loss: 49903.3867 - mae: 49903.3867 - val_loss: 50530.2070 - val_mae: 50530.2070
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 49879.2695 - mae: 49879.2695 - val_loss: 50509.3477 - val_mae: 50509.3477
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 49854.7617 - mae: 49854.7617 - val_loss: 50483.7344 - val_mae: 50483.7344
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 49831.8594 - mae: 49831.8594 - val_loss: 50465.6367 - val_mae: 50465.6367
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 49811.5898 - mae: 49811.5898 - val_loss: 50445.8047 - val_mae: 50445.8047
Epoch 27/100
250/250 [==============================] - 1s 6ms/step - loss: 49795.6211 - mae: 49795.6211 - val_loss: 50433.3477 - val_mae: 50433.3477
Epoch 28/100
250/250 [==============================] - 1s 5ms/step - loss: 49772.8438 - mae: 49772.8438 - val_loss: 50423.2617 - val_mae: 50423.2617
Epoch 29/100
250/250 [==============================] - 2s 6ms/step - loss: 49754.4844 - mae: 49754.4844 - val_loss: 50405.6602 - val_mae: 50405.6602
Epoch 30/100
250/250 [==============================] - 1s 6ms/step - loss: 49738.0703 - mae: 49738.0703 - val_loss: 50403.6055 - val_mae: 50403.6055
Epoch 31/100
250/250 [==============================] - 2s 6ms/step - loss: 49726.6992 - mae: 49726.6992 - val_loss: 50382.5234 - val_mae: 50382.5234
Epoch 32/100
250/250 [==============================] - 3s 11ms/step - loss: 49706.8594 - mae: 49706.8594 - val_loss: 50373.0039 - val_mae: 50373.0039
Epoch 33/100
250/250 [==============================] - 2s 6ms/step - loss: 49690.7188 - mae: 49690.7188 - val_loss: 50355.6953 - val_mae: 50355.6953
Epoch 34/100
250/250 [==============================] - 1s 5ms/step - loss: 49679.1953 - mae: 49679.1953 - val_loss: 50346.4062 - val_mae: 50346.4062
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 49668.0039 - mae: 49668.0039 - val_loss: 50341.1914 - val_mae: 50341.1914
Epoch 36/100
250/250 [==============================] - 2s 6ms/step - loss: 49654.4922 - mae: 49654.4922 - val_loss: 50337.7305 - val_mae: 50337.7305
Epoch 37/100
250/250 [==============================] - 1s 5ms/step - loss: 49640.4258 - mae: 49640.4258 - val_loss: 50326.1055 - val_mae: 50326.1055
Epoch 38/100
250/250 [==============================] - 1s 5ms/step - loss: 49628.1094 - mae: 49628.1094 - val_loss: 50317.5117 - val_mae: 50317.5117
Epoch 39/100
250/250 [==============================] - 1s 5ms/step - loss: 49621.4688 - mae: 49621.4688 - val_loss: 50318.5039 - val_mae: 50318.5039
Epoch 40/100
250/250 [==============================] - 1s 5ms/step - loss: 49608.6055 - mae: 49608.6055 - val_loss: 50325.1914 - val_mae: 50325.1914
Epoch 41/100
250/250 [==============================] - 1s 5ms/step - loss: 49599.1055 - mae: 49599.1055 - val_loss: 50316.7422 - val_mae: 50316.7422
Epoch 42/100
250/250 [==============================] - 2s 6ms/step - loss: 49592.1016 - mae: 49592.1016 - val_loss: 50301.2852 - val_mae: 50301.2852
Epoch 43/100
250/250 [==============================] - 1s 6ms/step - loss: 49579.3359 - mae: 49579.3359 - val_loss: 50298.9766 - val_mae: 50298.9766
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 49572.1328 - mae: 49572.1328 - val_loss: 50295.4844 - val_mae: 50295.4844
Epoch 45/100
250/250 [==============================] - 1s 5ms/step - loss: 49564.4531 - mae: 49564.4531 - val_loss: 50291.4141 - val_mae: 50291.4141
Epoch 46/100
250/250 [==============================] - 1s 5ms/step - loss: 49555.5391 - mae: 49555.5391 - val_loss: 50286.6836 - val_mae: 50286.6836
Epoch 47/100
250/250 [==============================] - 1s 5ms/step - loss: 49548.4961 - mae: 49548.4961 - val_loss: 50279.9727 - val_mae: 50279.9727
Epoch 48/100
250/250 [==============================] - 1s 6ms/step - loss: 49540.9023 - mae: 49540.9023 - val_loss: 50276.2852 - val_mae: 50276.2852
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 49533.9648 - mae: 49533.9648 - val_loss: 50285.8594 - val_mae: 50285.8594
Epoch 50/100
250/250 [==============================] - 1s 5ms/step - loss: 49530.7461 - mae: 49530.7461 - val_loss: 50288.4531 - val_mae: 50288.4531
Epoch 51/100
250/250 [==============================] - 1s 5ms/step - loss: 49519.6328 - mae: 49519.6328 - val_loss: 50282.8438 - val_mae: 50282.8438
Epoch 52/100
250/250 [==============================] - 1s 5ms/step - loss: 49511.8555 - mae: 49511.8555 - val_loss: 50291.5117 - val_mae: 50291.5117
Epoch 53/100
250/250 [==============================] - 1s 5ms/step - loss: 49509.2852 - mae: 49509.2852 - val_loss: 50283.9219 - val_mae: 50283.9219
Epoch 54/100
250/250 [==============================] - 1s 6ms/step - loss: 49501.7930 - mae: 49501.7930 - val_loss: 50278.1367 - val_mae: 50278.1367
Epoch 55/100
250/250 [==============================] - 1s 6ms/step - loss: 49493.7266 - mae: 49493.7266 - val_loss: 50292.3125 - val_mae: 50292.3125
Epoch 56/100
250/250 [==============================] - 1s 6ms/step - loss: 49488.2734 - mae: 49488.2734 - val_loss: 50287.3281 - val_mae: 50287.3281
Epoch 57/100
250/250 [==============================] - 1s 5ms/step - loss: 49482.2578 - mae: 49482.2578 - val_loss: 50292.2617 - val_mae: 50292.2617
Epoch 58/100
250/250 [==============================] - 1s 5ms/step - loss: 49480.0352 - mae: 49480.0352 - val_loss: 50298.4219 - val_mae: 50298.4219

In [ ]:
# Load TensorBoard
%load_ext tensorboard

In [20]:
%tensorboard --logdir regressionlogs/fit/20250726-124333

Reusing TensorBoard on port 6007 (pid 53660), started 0:00:06 ago. (Use '!kill 53660' to kill it.)

In [21]:
model.save('regression_model.h5')

c:\Users\sanja\Desktop\Data_science\6_DeepLearning\churn-prediction-app-ANN\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [22]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 4ms/step - loss: 50276.2852 - mae: 50276.2852
Test MAE : 50276.28515625